.intl-tel-input * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.intl-tel-input {
    position: relative;
    display: block;
}

.iti-flag {
    width: 20px;
}

.iti-flag {
    width: 23px;
    height: 15px;
    box-shadow: 0px 0px 1px 0px #888;
    /*background-image: url(../images/flags.png);*/
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: center;
    background-size: 100%;
}

.iti-flag.is {
    height: 15px;
    background-position: -2501px 0px;
}

.intl-tel-input .selected-flag .iti-flag {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: -13px;
    margin-top: 0;
    left: 35px;
    width: 40px;
    height: 23px;
    border: 0;
    text-align: center;
}

.intl-tel-input .selected-flag{
    width: 46px;
    z-index: 1;
    position: relative;
    top: 23px;
    height: 100%;
    padding: 0 0 0 8px;
}

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
    padding-right: 6px;
    padding-left: 80px;
    margin-left: 0;
}
.intl-tel-input .flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
}
.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
    right: auto;
    left: 0;
    width: 100%;
}
