.forminp-textarea .useshortcodetable code {
	padding:0 5px !important;
}
.wcdismsinput {
	width:400px;
	line-height:25px;
}
.wcdismsselect, .chosen-container {
	width:400px !important;
}
.wcdismstextarea {
	width:400px;
	min-height:100px;
}
.wcdismsinputtextarea {
	height:32px;
	resize:none;
}
.forminp .useshortcodetable {
	background:#ffffff;
	left:auto;
	padding:8px;
	position:fixed;
	right:20px;
	top:110px;
	width:auto;
	border:1px solid #dddddd;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0 5px 2px rgba(0, 0, 0, 0) inset;
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0 5px 2px rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0 5px 2px rgba(0, 0, 0, 0) inset;
}
.useshortcodetable td {
	padding:2px 6px;
	font-size:13px !important;
}
.forminp-textarea .useshortcodetable b {
	width:188px;
	float:left;
	text-align:center;
	padding:0 20px 5px;
	font-size:14px !important;
}
.wcdi_content_seperator {
	border-bottom:1px solid #cccccc;
	margin:3px 0;
	width:800px;
	max-width:800px;
}
a {
	cursor:pointer;
}
#view-sms-content-main-div {
	display:none;
}
#TB_ajaxContent p.pleasewaittxt {
	text-align:center;
	font-weight:bold;
	position:absolute;
	top:190px;
	left:43%;
}
#TB_overlay {
	z-index:999998 !important;
}
#TB_window {
	z-index:999999 !important;
}
#view_sms_loader {
	display:inline-block;
	background: #ffffff url("../images/loading_transparent.gif") center center no-repeat;
	width:110px;
	height:110px;
	text-align:center;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius:7px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0 0px 0px rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), 0 0px 0px rgba(0, 0, 0, 0) inset;
	position:absolute;
	top:120px;
	left:41%;
}
table.smshistory_title {
	margin:5px;
	padding:5px 0;
}
table.smshistory_title td {
	font-size:24px;
	text-align:left;
	line-height:24px;
}
table.data_sms_content {
	border:1px solid #cccccc;
	border-collapse:collapse;
	margin:5px;
}
.data_sms_content th {
	padding:5px 3px;
	background:#f5f5f5;
	border:1px solid #cccccc;
	text-align:center;
}
.data_sms_content tr {
	border:1px solid #cccccc;
}
.data_sms_content tr:hover {
	border:1px solid #dddddd;
	background:#fbfbfb;
}
.data_sms_content td {
	padding:5px 8px;
	text-align:center;
	font-weight:bold;
	border:1px solid #cccccc;
	vertical-align:top;
}
.data_sms_content .smsmessagebody {
	text-align:left;
}
.data_sms_content span.tonumber {
	color:#0066CC;
}
table.nomessagefound_content {
	width:99%;
	border:1px solid #cccccc;
	border-collapse:collapse;
	margin:0px 0 0 5px;
}
.nomessagefound_content tr {
	padding:5px 0;
}
.nomessagefound_content td {
	padding:5px 0;
	text-align:center;
	font-weight:bold;
}
.loading_check_small {
	display:none;
	background: #ffffff url("../images/loading_small.gif") center center no-repeat;
	width:16px;
	height:14px;
}
table.smsstautspaginglink {
	margin:0 5px;
}
.smsstautspaginglink td {
	color: #999999;
}
.smstxtstatus {
	color:#009966;
}
.smsforwoo_footer {
	float:right;
	margin:-28px 150px 0 0;
	position:relative;
	z-index:99999;
}
.wcdisms_woo_success_msg, .wcdisms_woo_error_msg {
	display:none;
	/*width:775px;*/
	font-weight:bold;
}
.smscounter {
	display:inline-block;
	margin-left:5px;
	padding:2px 5px 0px 5px;
	background:#ffffff;
	border:1px solid #cccccc;
	min-width:25px;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.note_for_alert {
	color:#FF0000;
}
.wcdi_sms_shortcode_add_btn {
	background-color: #cbcdd5;
	background-image: linear-gradient(to bottom, #e6e9f1, #cbcdd5);
	background-repeat: repeat-x;
	border: 1px solid #b5bbc9;
	border-radius: 5px;
	box-shadow: none;
	color: #353942;
	cursor: pointer;
	font-size: 14px;
	font-weight: normal;
	height: 35px;
	outline: medium none;
	padding: 0 15px;
	text-align: center;
}
.forminp.forminp-textarea p{
 position: absolute;
   margin-left: 412px;
    
    width: auto;
}
.wcdi_sms_shortcode_div {
	float: right;
	left: 644px;
	margin-top: 39px;
	position: absolute;
	display: none;
	width: 250px;
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #dddddd;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 5px 2px rgba(0, 0, 0, 0) inset;
	padding: 8px;
	z-index:999;
	border-radius: 5px;
}
.wcdi_banner_div {
	position: absolute;
	right: 2%;
	width: auto;
}
.wcdi_banner_heading_text {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
.wcdi_sms_section {
	width: 72%;
}
.wcdi_banner_div a {
	display: block;
}
@media screen and (max-width: 1500px) {
.wcdi_sms_banner_img {
	width: 280px;
}
}
#TB_ajaxContent {
	width:auto !important;
}